

<form class="form add-comment form">
    <div class="blog">
        <textarea type="text" name="post-title" class="title">{{comment_text}}</textarea>
    </div>
    <div class="blog-options">
        <button type="submit" class="btn dark update-btn">Update Post</button>
        <button type="submit" class="btn dark delete-btn">Delete Post</button>
    </div>
    
</form>

<script src="/js/edit-post.js"></script>
<script src="/js/delete-post.js"></script>