<div class="welcome">
    <h1>Editing Post</h1>
</div>
<form class="form edit-post-form">
    <div class="blog">
        <textarea type="text" name="post-title" class="title">{{post.title}}</textarea>
        <textarea type="text" name="post-body" class="article">{{post.body}}</textarea>
    </div>
    <div class="blog-options">
        <button type="submit" class="btn dark update-btn">Update Post</button>
    </div>
</form>

<script src="/js/edit-post.js"></script>
