

</article>
<main class="container">
<section class="blogs-section">
<div class="grid-container">
 {{#each posts as |post|}}
    <article class="post">
    <div class="grid-item">
            <a href="/post/{{post.id}}" class="btn dark read-btn">Read</a>
         {{> post-info post}}
    </div>
    </article>
</div>
<div>
   {{/each}}
</div>
</section>
</main>

{{!-- <section class="blogs-section"></section>
<div class="blog-card">
  <img src="https://picsum.photos/200/300" class="blog-image" alt="">
  <h1 class="blog-title">Lorem ipsum dolor sit amet consectetur</h1>
  <p class="overview">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente asperiores laborum beatae eos accusantium ea voluptatibus, quas enim porro optio fugiat necessitatibus. Quidem sapiente ut laudantium aliquam aspernatur eveniet mollitia!</p>
<a href="/" class="btn dark">read</a>
</div> --}}




