<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog: Login</title>
  {{!--
  <link rel="stylesheet" href="css/styles.css"> --}}
  <link rel="stylesheet" href="css/login.css">

<body>
  <div class="half-screen-container">
    <div class="login-container">
      <form class="login-form">
        <h1 class="login-title">Login</h1>
        <div class="input-group">
          <label for="email">Email</label>
          <input type="email" name="email" id="email">
          {{!-- <span class="msg">Valid email</span> --}}
        </div>
        <div class="input-group">
          <label for="password">password</label>
          <input type="password" name="password" id="password">
          {{!-- <span class="msg">Valid password</span> --}}
        </div>
        <div class="input-group">
          <button class="btn btn-primary" type="submit">login</button>
        </div>
      </form>
    </div>

    <div class="join-container">
      <form class="join-form">
        <h1 class="join-title">Join</h1>
        <div class="input-group">
          <label for="email">username</label>
          <input type="username" name="username" id="username">
          {{!-- <span class="msg">Valid email</span> --}}
        </div>
        <div class="input-group">
          <label for="email">email</label>
          <input type="email" name="email" id="email">
          {{!-- <span class="msg">Valid email</span> --}}
        </div>
        <div class="input-group">
          <label for="email">password</label>
          <input type="password" name="password" id="password">
          {{!-- <span class="msg">Valid email</span> --}}
        </div>
        <div class="input-group">
          <button class="btn btn-primary" type="submit">Join</button>
        </div>
      </form>
    </div>
  </div>
  <script src="/javascript/login.js"></script>
</body>